pipeline {
  agent any

  stages {
    stage('Test') {
      steps {
        sh 'docker run -v $(pwd):/tests/roles/test kdaweb/playbooktester test_ansible_role.sh'
      }
    }

    stage('Lint') {
      steps {
        sh 'docker run -v $(pwd):/tests/roles/test kdaweb/playbooktester lint_ansible_role.sh'
      }
    }

  }
}
